
<div *ngIf="patient">
<h1 class="text-center">{{patient.first | uppercase}} DETAILS:</h1>
<div class="row detailsRow well">
  <div class="col-md-6 patientDetails well">
<h4>SECOND NAME</h4>
<p>{{patient.last}}</p>
<h4>DATE OF BIRTH</h4>
<p>{{patient.birth}}</p>
<h4>PATIENT EMAIL</h4>
<p>{{patient.email}}</p>
<h4>PATIENT NUMBER</h4>
<p>{{patient.phone}}</p>
  </div>
  <div class="col-md-6">
    <h2 class="text-center">Edit patient details</h2>

      <div class="form-group">
        <label>First name</label>
        <input [(ngModel)]="patient.first" placeholder="name" class="form-control">
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input [(ngModel)]="patient.last" placeholder="name" class="form-control">
      </div>
      <div class="form-group">
         <label>Date of birth</label>
         <input [(ngModel)]="patient.birth" placeholder="name" class="form-control">
      </div>
      <div class="form-group">
       <label>Email address</label>
       <input [(ngModel)]="patient.email" placeholder="name" class="form-control">
      </div>
<button (click)="save()" class="btn-btn-primary">SAVE DETAILS</button>

  </div>

</div>


</div>
