<h2>My Patients</h2>
<ol class="patients">
  <li *ngFor="let patient of patients" (click)="onSelect(patient)">
    <span class="badge">{{patient.id}}</span> {{patient.first}}
  </li>
</ol>



<h2>{{ selectedPatient.first | uppercase }} Details</h2>
<div><span>Second name:</span>{{selectedPatient.last}}</div>
<div><span>Date of birth:</span>{{selectedPatient.birth}}</div>
<div><span>Email Address:</span>{{selectedPatient.email}}</div>
<div><span>Phone number:</span>{{selectedPatient.phone}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedPatient.first" placeholder="name">
  </label>
</div>




<!-- <div>
    <label>name:
        <input [(ngModel)]="patient.name" placeholder="name">
    </label>
</div> -->

