<h1 class="text-center">ADD A PATIENT</h1>
<div class="well">
<form>
<div class="form-group">
  <label>FIRST NAME:  </label>
    <input class="form-control" #patientFirstName />
</div>

<div class="form-group">
  <label>SECOND NAME: </label>
    <input class="form-control" #patientSecondName />
</div>

<div class="form-group">
  <label>EMAIL:  </label>
    <input class="form-control" #patientEmail />
</div>

<div class="form-group">
  <label>DATE OF BIRTH:</label>
    <input class="form-control" #patientBirth />
</div>

<div class="form-group">
  <label>PHONE:</label>
    <input class="form-control" #patientPhone />
</div>


  <!-- (click) passes input value to add()  -->
  <button class="btn btn-primary" (click)="add(patientFirstName.value, patientSecondName.value, patientEmail.value, patientBirth.value, patientPhone.value);
  patientFirstName.value=''
  ">
    ADD A PATIENT
  </button>

</form>
</div>
