<h1>ADD A PATIENT</h1>
<div>
  <label>FIRST NAME:
    <input #patientFirstName />
  </label>
  <label>SECOND NAME:
    <input #patientSecondName />
  </label>
  <label>EMAIL:
    <input #patientEmail />
  </label>
  <label>DATE OF BIRTH:
    <input #patientBirth />
  </label>
  <label>PHONE:
    <input #patientPhone />
  </label>

  <!-- (click) passes input value to add()  -->
  <button (click)="add(patientFirstName.value, patientSecondName.value, patientEmail.value, patientBirth.value, patientPhone.value);
  patientFirstName.value=''
  ">
    add
  </button>
</div>
